<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Add new employee</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modify employee: {{data.employeename}}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Delete employee: {{data.employeename}}</h3>
  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="data.employeename" name="employeename" [disabled]="flag == 3" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Surname" [(ngModel)]="data.employeesurname" name="employeesurname" [disabled]="flag == 3">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Phone" [(ngModel)]="data.employeephone" name="employeephone" [disabled]="flag == 3" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Address" [(ngModel)]="data.employeeadress" name="employeeadress" [disabled]="flag == 3" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="data.employeeusername" name="employeeusername" [disabled]="flag == 3" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="data.employeepassword" name="employeepassword" [disabled]="flag == 3" required>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button *ngIf="flag == 1" [type]="submit" [mat-dialog-close]="1" (click)="add()" [disabled]="!formControl.valid">Save</button>
      <button mat-button *ngIf="flag == 2" [type]="submit" [mat-dialog-close]="1" (click)="update()" [disabled]="!formControl.valid">Save</button>
      <button mat-button *ngIf="flag == 3" [type]="submit" [mat-dialog-close]="1" (click)="delete()">Delete</button>
      <button mat-button (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
