<form class="centered" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
        <p>
            <mat-form-field>
                <input type="text" matInput placeholder="Name" formControlName="name" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input type="text" matInput placeholder="Surname" formControlName="surname" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input type="text" matInput placeholder="Phone" formControlName="phone" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input type="text" matInput placeholder="Address" formControlName="address" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input type="text" matInput placeholder="Username" formControlName="username" required>
            </mat-form-field>
        </p>
        <p>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password" required>
        </mat-form-field>
        </p>
    </div>


  <div class="button">
    <button class="btn-submit" type="submit" [disabled]="!registrationForm.valid">Register</button>
  </div>

</form>